<!--<div class="basic-container">
  <h2>Labels</h2>
  
    <p *ngFor="let category of categoryNames">
      <mat-icon>label</mat-icon>
      {{category.categoryName}}
      <button (click)="editCategory(category)">
        <mat-icon>edit</mat-icon>
      </button>-->
      <!-- <button (click)="editCategory(category)">Edit Category</button> -->
<!--    </p>
    <button (click)="addCategory()">Add Category</button>

</div>-->


<!--<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>alarm_add</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <mat-label mat-menu-item>Reminder: </mat-label>
  <mat-label mat-menu-item>Today </mat-label>
  <mat-label mat-menu-item>Tomorrow </mat-label>
  <mat-label mat-menu-item>Nextweek </mat-label>
  <button mat-menu-item>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </button>
  <button mat-menu-item disabled>
    <mat-form-field>
      <input matInput atp-time-picker value="19:00" />
    </mat-form-field>
  </button>
  <!-- <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>
<button mat-button (click)="takeNotes()">Done</button>-->
