.mat-button {
    position: relative;
    cursor: pointer;
    padding-left: 0;
    margin: 0;
    background: transparent;
    color: inherit;
    font-size: 16px;  
    outline: none;
    width: 41px;
    height: 41px;
    line-height: 41px;   /* newly added */
    padding: 0 5px 0 20px;
    margin: 0 2px;
    text-align: left;
    display: inline-block;
    box-sizing: border-box;
    width: 200px; 
    
    border-radius: 115px;
  }
  
  .mat-button:not([disabled]):hover {
    background-color: rgba(245, 244, 244);
    color: rgba(44, 65, 164, 0.96);
    transition: 0.3s;
  }
  
  .mat-button:not([disabled]):active {
    background-color: rgb(255,250,205);  
    
  }
  
  .mat-button:not([disabled]):focus {
    background-color: rgb(255,250,205);  
    
  }
  
  div.element-fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 70px;
  }
  
  .label-alignment{
    position: relative;
    cursor: pointer;
    padding: 0;
    margin: 0;
    background: transparent;
    color: inherit;
    font-size: 16px;
    border: none;
    outline: none;
    width: 41px;
    height: 41px;
    line-height: 41px;   /* newly added */
    padding: 0 5px;
    margin: 0 2px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box; 
  }

  .mat-dialog-title {
    margin-top: 15px !important;
  }