/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
 body {
   margin: 0;
 }
 

 mat-chip .mat-chip{
  box-shadow: 0 0px ;
}


.right-aligned-header > .mat-content {
  justify-content: space-between;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
flex: 0 0 auto;
}
